.box {
  border-radius: 8px;
  background-color: #ffebb8;
}

.icon {
  width: 24px;
  height: 24px;
  margin: 8px;
  stroke: #f59f43;
}

.text {
  font-weight: normal !important;
  font-size: 13px !important;
}