.listLine {
    font-size: 12px;
    padding: 5px 0px;
}

.listLine P {
    font-size: 12px;
}

.checkbox {
    padding: 0px !important;
}

.optional {
    font-size: 12px !important;
    font-weight: bold !important;
    color: rgb(183, 183, 183) !important;
}