.header {
    position: fixed;
    width: inherit;
}

.content {
    overflow-y: scroll;
}

.recipeName {
    font-size: 14px !important;
    font-weight: bold !important;
}

.recipeServings {
    font-size: 12px !important;
    font-weight: bold !important;
    color: #FB6B1C !important;
}


.viewButton {
    border-radius: 10px !important;
    stroke: black;
    fill: none;
    padding: 7px !important;
    width: 30px !important;
    background: #FB6B1C !important;
}

.viewIcon {
    stroke-width: 0 !important;
    font-size: 30px !important;
    margin: 0px;
    max-height: 15px !important;
    padding: 0px;
    stroke: white !important;
    fill: white !important;
}

.title {
    font-size: 24px !important;
}