.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    color: #747474;
    font-size: 14px !important;
}

.time {
    font-weight: bold;
    font-size: 12px !important;
}

.icon {
    height: 25px;
}

.prep {
    color: #FB6B1C;
    stroke: #FB6B1C;
}

.cook {
    color: #9E5902;
    stroke: #9E5902;
}

.total {
    color: #1789C9;
    stroke: #1789C9;
}