.bottomNav {
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
    -webkit-box-shadow: 0px -3px 4px rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 0px -3px 4px rgba(50, 50, 50, 0.1);
    box-shadow: 0px -3px 4px rgba(50, 50, 50, 0.1);
    height: calc(70px + env(safe-area-inset-bottom)) !important;
    padding-bottom: calc(5px + env(safe-area-inset-bottom));
    padding-top: 8px !important;
    left: 0px !important;
    right: 0px !important;
}

.bottomNav a {
    color: #828282 !important;
}

.bottomNav * {
    font-size: 10px !important;
}

.bottomNav a:visited {
    color: #828282 !important;
}

.navOption {
    min-width: 20% !important;
    padding: 0px 1px !important;
    margin: 0px !important;
    text-align: center;
}

.navOptionIcon {
    max-width: 18px !important;
    height: auto;
    max-height: 20px !important;
    margin-bottom: 5px;
    padding: 0px;
    fill: rgba(50, 50, 50, 0);
    stroke: #747474;
    color: #747474;
}

.navOptionSelected {
    fill: #fb6b1c !important;
    stroke: rgba(50, 50, 50, 0);
    color: #fb6b1c !important;
}

.planner {
    fill: #747474;
}

.navOptionSelected span {
    font-weight: bold;
    color: #fb6b1c !important;
}