.card {
  font-size: 12px !important;
  border-radius: 10px !important;
  position: relative;
}

.card p {
  font-size: 10px !important;
}

.name {
  font-weight: bold !important;
  font-size: 12px !important;
}

.swiper {
  overflow: hidden;
  height: 110px;
  margin-bottom: 6px;
}

.imageContainer {
  border-radius: 10px !important;
  overflow: hidden;
}

.image {
  border-radius: 10px !important;
  max-width: 100%;
  height: auto;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.icon {
  font-size: 15px !important;
}

.attachments {
  z-index: 2;
  position: absolute;
  top: 0px;
  right: 0px;
  margin-top: 12px;
  margin-right: 12px;
}