.chip {
    color: #151515 !important;
}

.icon {
    height: 100%;
}

.calendar {
    max-width: 100%;
}

.selectedText {
    font-size: 14px !important;
}

.servings {
    color: black !important;
    border: none !important;
    min-width: 50px !important;
}
