.searchIcon {
  width: 20px;
  height: auto;
  stroke: #81868B; margin-right: 10px;
}

.optionButton {
  border-radius: 10px !important;
  stroke: black;
  fill: none;
  padding: 7px !important;
  width: 30px !important;
  background: #FB6B1C !important;
}

.optionButtonDisabled {
  background: #999999 !important;
}

.optionIcon {
  stroke-width: 0 !important;
  font-size: 30px !important;
  margin: 0px;
  max-height: 15px !important;
  padding: 0px;
  stroke: white !important;
  fill: white !important;
}