.header {
  padding: 0px 20px;
  position:fixed;
  top:0;
  width: 100%;
  z-index: 2;
}

.swiper {
  max-height: 50%;
}

.ingredientList {
  font-size: 20px;
  color: #555555;
  padding-left: 2rem;
  margin-top: 0px;
}

.ingredientList li {
  padding: 0.1rem 0rem;
}

.ingredientList li > span {
    font-size: 14px;
}

.ingredientName {
  font-weight: bold;
}

.showMoreLink {
  font-weight: bold !important;
}

.showLessLink {
  font-weight: bold !important;
  color: #555555;
}

.icon {
  font-size: 18px !important;  
}