.header {
  padding: 0px 20px;
  position:fixed;
  top:0;
  width: 100%;
  z-index: 2;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiperSlide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: black;
}

.slideImage {
  width: 100%;
}

.ingredientList {
  font-size: 20px;
  color: #555555;
  padding-left: 2rem;
  margin-top: 0px;
}

.ingredientList li {
  padding: 0.1rem 0rem;
}

.ingredientList li > span {
    font-size: 14px;
}

.ingredientName {
  font-weight: bold;
}

.showMoreLink {
  font-weight: bold !important;
}

.showLessLink {
  font-weight: bold !important;
  color: #555555;
}

.icon {
  font-size: 18px !important;  
}

.backButton {
  background: #ffffff !important;
  border-radius: 10px !important;
  stroke: black;
  fill: none;
  padding: 1px !important;
}

.backIcon {
  stroke-width: 0 !important;
  font-size: 35px !important;
  margin: 0px;
  padding: 0px;
}